:root {
  --background: #0d1111;
  --primary: #3b4b4f;
  --secondary: #a1abba;
  --accent: #596278;
}

* {
  box-sizing:border-box;
  /* outline: solid 1px red; */

  padding: 0;
  margin: 0;
}

/* semantic selectors */

  body {

  }

  header {
    background-color: var(--background);
    padding: 20px 0;
  }

  nav {
    display: flex; /* flexbox for nav */
    justify-content: flex-end; /* align nav to right */
  }

  h1 {
    text-align: center; /* center text */

    /* font styling */
    font-family: brandon-grotesque, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase; /* uppercase text */
    color: var(--background);

    /* box background for h1 element */
    display: inline-block; /* inline-block to wrap around text */
    background-color: var(--accent);
    padding: 5px 15px; /* padding for h1 background */
    max-width: 100%; /* max width of h1 background */
    width: 70%;
    height: 40px;

    min-width: fit-content; /* fit-content so that h1 will wrap only when absolutely necessary, i.e. content doesn't fit */
  }

  main {
    padding: 20px;
  }
  
/* element selectors */

  nav ul {
    list-style: none; /* remove bullet points */
    display: flex; /* flexbox for nav */
    flex-wrap: wrap; /* wrap nav items */
    justify-content: center;
    width: 100%; 
  }

  nav ul li {
    margin-left: 10px;
    margin-right: 10px;
  }

  nav ul li a {
    position: relative; /* position relative for pseudo element */

    /* font styling */
    text-decoration: none; /* remove default underline */
    font-family: brandon-grotesque, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    letter-spacing: 0.75px;
    line-height: 50px;
    text-transform: uppercase; /* uppercase text */
    color: var(--accent);
  }

  nav ul li a::after {
    content: ''; /* add pseudo element */
    position: absolute; /* tie undeline to the psuedo element */
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    bottom: -3px;
    left: 0;
    transform: scaleX(0); /* hide underline for transition on hover */
    transform-origin: bottom right; /* end animate underline to bottom right */
    transition: transform 0.3s ease-out; /* animate underline */
  }

  nav ul li a:hover::after {
    transform: scaleX(1); /* show underline */
    transform-origin: bottom left; /* start animate underline from bottom left */
  }

/* class selectors */

  .header-content {
    display: flex; /* flexbox for header */
    flex-direction: column; /* column layout fopr mobile first apprach */
    align-items: center; /* center content */
    padding: 0 20px;
    position: relative; 
  }

    /* box behind h1 */
  .header-content::before {
    /* content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 32%;
    height: 32px;
    background-color: var(--accent);
    z-index: 0; */
  }

  .subtitle {
    /* font styling */
    font-family: brandon-grotesque, Helvetica, sans-serif;
    color: var(--accent);
  }

  .subtitle h2 {

  }

  .content-section {

  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .contact-info a {
    font-size: 1em;
    color: #333333;
    text-decoration: none;
    position: relative;
  }

  .contact-info a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333333;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

/* id selectors */

  #about {

  }

  #about h3, #work h3 {

  }

  #about p {

  }

  #contact {

  }

/* Media Queries */

  /* Mobile devices (up to 600px) */
  @media (max-width: 600px) {
    h1 {
      
    }

    .header-content::before {
      
    }

    .subtitle p {
      
    }
  }

  /* Tablet devices (601px to 1024px) */
  @media (min-width: 601px) and (max-width: 1024px) {
    h1 {

    }

    .header-content::before {

    }

    .subtitle p {

    }
  }

  /* Desktop devices (1025px and above) */
  @media (min-width: 1025px) {
    h1 {

    }

    .header-content::before {

    }

    .subtitle p {

    }
  }